{% extends '::base.html.twig' %}

{% block body %}
<h1>JcrollFoursquareBundle Sandbox</h1>

<ul class="breadcrumb">
    <li><a href="#">endpoint</a> <span class="divider">/</span></li>
    <li><a href="#">{{ endpoint }}</a>{% if modifier %} <span class="divider">/{% endif %}</span></li>
    {% if modifier %} <li><a href="#">{{ modifier }}</li>{% endif %}
</ul>
{{ results|ladybug_dump }}
{% endblock body %}
